# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
logs/
log/


# Virtual env
venv/
.env/
myenv/
.env.*

# Media & uploads
media/
uploads/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml